
<div *ngIf="orders.length == 0" class="alert alert-info">There is no Order to Show!</div>
<div *ngIf="orders.length > 0" class="container">
    <table class="table table-striped " aria-describedby="mydesc">
        <thead>
            <tr>
                <th id="id">ORDER ID</th>
                <th id="time">ORDER INITIATE TIME</th>
                <th id="address">ADDRESS ID</th>
                <th id="act">ACTION</th>
            </tr>
        </thead>
        <tbody *ngFor="let e of orders">
            <tr>
                <td (click)="expandorders(e.orderId)">
                    <a> {{e.orderId}} </a>
                   
                </td>
                <td> {{e.orderInitiateTime}} </td>
                <td> {{e.addressId}} </td>
                <td>
                    <a class="btn btn-danger" (click)="delete(e.orderId)" aria-label="Delete">
                        <i class="fa fa-trash-o" aria-hidden="true"> Delete</i>
                    </a>
                </td>
            </tr>
            <tr *ngIf=isexpand(e.orderId)>
                <td>
                    <div >
                        <table class="table table-striped" aria-describedby="mydesc">
                            <thead>
                                <tr>
                                    <th id="id">PRODUCT ID</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let p of e.products"> 
                                <tr >
                                    <td>
                                        {{p.productId}} 
                                    </td>
                                    </tr>
                                    </tbody>
                                    </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>