
<div class="container">
  <h1 align="center">Welcome To Order Management</h1>
  <nav class="navbar navbar-expand-sm btn-secondary navbar-dark">
    <a class="navbar-brand" href="">
    </a>
    <ul class="nav nav-pills nav-fill ">
    <li class="nav-item " >
      <a class="nav-link" class="btn btn-outline-success  btn-sm  mr-3" routerLink="/list">Products List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" class="btn btn-outline-success btn-sm mr-3"  routerLink="/cart">Cart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" class="btn btn-outline-success btn-sm mr-3"  routerLink="My Orders">My Orders</a>
    </li>
  </ul>
  </nav>
  </div>
  <router-outlet></router-outlet>