<html>
<div class="container">
    <table class="table table-striped table-dark" aria-describedby="myproducts">
        <thead>
        <tr>
            <th id="prod id">PRODUCT ID</th>
            <th id="uin">PRODUCTUIN</th>
            <th id="act">ACTION</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of product">
                <td > {{e.productid}} </td>
                <td> {{e.productUin}} </td>
                <td>
                    <button type="button" class="btn btn-sm  btn-primary" (click)="add(e.productid)" ><strong><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart</strong></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="alert alert-success" *ngIf=addedtocart>
    <strong>Successfully product added to Cart! Productid:</strong>  {{selectedProductToCart.productid}}
    <strong>productUin:</strong>
    {{selectedProductToCart.productUin}}
  </div>
 
  </html>