<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>PRODUCT ID</th>
            <th>PRODUCTUIN</th>
            <th>ACTION</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of product">
                <td > {{e.productid}} </td>
                <td> {{e.productUin}} </td>
                <td>
                    <button type="button" class="btn btn-sm  btn-primary" (click)="add(e.productid)" >Add to Cart</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div >
    <h2>{{message}}</h2>
</div>

